In [50]:
#Exercise 1
#Using the given list, print out a filtered version of the list with only the numbers that are less than ten

alist = [1,11,14,5,8,9]
blist = []
 
blist = []
for i in alist:
    if i not in blist and i < 10:
        blist.append(i)
print(blist)

[1, 5, 8, 9]

In [ ]:
#Exercise 2
#Merge and sort the two lists below


l_1 = [1,2,3,4,5,6]
l_2 = [3,4,5,6,7,8,10]

new_list = l_1
new_list += l_2
print(f"This is the combined list {new_list}")
print(new_list.sort())
print(new_list)

In [ ]:
#Exercise 3
#Square every number from 1 to 15

for num in range(1,16):
    print(num**2)

In [5]:
#Exercise 4
#Using List Comprehension and the given list, print out a filtered list with only the names that start with the letter 'a'. The names in the outputted list should be title cased and have no whitespace.
#expected output = ['Amy', 'Alex']

names_list = ['   amy', 'Briant', 'Ryan ', ' Alex', 'steve', '  ']
new_list = []


for name in names_list:
    if name.strip() != '' and name.lower().strip()[0] == 'a':
        new_list.append(name.title().strip())
print(new_list)

['Amy', 'Alex']

In [1]:
#Exercise 5
#Print all Prime numbers from 1 to 100
#no even numbers are prime
#only odd

for prime in range (1, 101):
    num = 0
    for i in range(2, (prime//2 + 1)):
        if(prime % i == 0):
            num = num + 1
            break

    if (num == 0 and prime != 1):
        print(prime)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97